@* @model IEnumerable<BookingVehicle> *@
@using System.Data;
@model System.Data.DataTable;
@{
  ViewData["Title"] = "View your Bookings";
  @* Layout = "_Common"; *@
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@* 
<body
  background="https://th.bing.com/th/id/R.91145d77ca3c214857f2cec4737d9669?rik=4Ej7vNriH5rcbw&riu=http%3a%2f%2fhdqwalls.com%2fdownload%2f1%2fsunlight-circle-light-color-rays-rainbow-db-3840x2400.jpg&ehk=hJIV7qSq62NNgfmjZObRFut0ncQNps8CGHzeXJ57R2o%3d&risl=&pid=ImgRaw&r=0">
  <div class="main-container">
    <div class="middle">
      <h1 style="color:white;">
        Booked Seats
      </h1>
      <br>

    </div>
    <div class="store-table">
      <table class="table">
        <thead class="thead-light">
          <tr>

            <th scope="col" style="color: white;">PickUp</th>
            <th scope="col" style="color: white;">Destination</th>
            <th scope="col" style="color:white; ">Time</th>
            <th scope="col" style="color:white;">Date</th>
          </tr>
        </thead>
        <tbody>
          @foreach (DataRow dataRow in Model.Rows)
          {
            <tr>
              <th scope="row" style="color: white;">@dataRow[1]</th>
              <td style="color: white;">@dataRow[2]</td>
              <td style="color:white;">@dataRow[3]</td>
              <td style="color:white;">@dataRow[4].ToString().Substring(0,10)</td>
              
              <td></td>
              @* <td><button type="Submit" asp-controller="Home" asp-action="BusSeat">Book</button></td> *
            </tr>
          }
        </tbody>
      </table>
    </div>
</body>
 *
<style>
    @@importurl('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

    body {
        overflow-x: hidden;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }

    /* Toggle Styles */

    #viewport {
        padding-left: 250px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #content {
        width: 100%;
        position: relative;
        margin-right: 0;
    }

    /* Sidebar Styles */

    #sidebar {
        z-index: 1000;
        position: fixed;
        left: 250px;
        width: 250px;
        height: 100%;
        margin-left: -250px;
        overflow-y: auto;
        background: #37474F;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #sidebar header {
        background-color: #263238;
        font-size: 20px;
        line-height: 52px;
        text-align: center;
    }

    #sidebar header a {
        color: #fff;
        display: block;
        text-decoration: none;
    }

    #sidebar header a:hover {
        color: #fff;
    }

    #sidebar .nav {}

    #sidebar .nav a {
        background: none;
        border-bottom: 1px solid #455A64;
        color: #CFD8DC;
        font-size: 14px;
        padding: 16px 24px;
    }

    #sidebar .nav a:hover {
        background: #263238;
        color: #ECEFF1;
    }

    #sidebar .nav a i {
        margin-right: 16px;
    }

    li.logout {
        padding-top: 250px;
        pointer-events: none;
    }

    .button {
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: white;
        background-color: black;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    .button:hover {
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #000;
        transform: translateY(-7px);
    }

    div.deleteButton {
        padding-left: 390px;
    }

</style>

*@


<style>
    .boxfunc{
    width: 1300px;
    height: 500px;
    background-color: rgb(235, 226, 226);
    border-radius: 1em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 20px 30px black;  
}

h3{
    text-align: center;
}
</style>


<body>
    <br>
    <br>
    <div class="boxfunc">
        <table style="width:100%" border=2>
            <br>
                    <h3> Employee Bookings</h3>
                    <thead>
                        <tr>
                            <th> EmployeeID &emsp; </th>
                            <th> PickUp&emsp; </th>
                            <th> Date &emsp; </th>
                            <th> Time &emsp; </th>
                            <th> Destination </th>
                            <th> BusNumber </th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        @{

                            foreach (DataRow datarow in Model.Rows)
                            {
                                
                                <tr>
                                    <td>@datarow[0] &emsp; </td>
                                    <td>@datarow[1] &emsp; </td>
                                    <td>@datarow[3] &emsp; </td>
                                    <td>@datarow[4] &emsp; </td>
                                    <td>@datarow[2] &emsp; </td>                                   
                                    @* <td>@datarow[5] &emsp; </td>
                                    <td>@datarow[6] &emsp; </td> *@
                                    @* @{
                                        string imageBase64Data=Convert.ToBase64String((byte[])datarow[1]);
                                        string imageDataURL=string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                                        <td><img src=@imageDataURL width="25px" height="25px"></td>
                                    } *@
                                    
                                    
                                    <td><div>
                                        @* <a  href="@Url.Action("DeleteProduct", "Employee", new { deleteItem = "Pending" })">*@ 
                                            @* <button style="color:green"> Approve </button>  *@
                                        @* <a  href="@Url.Action("DeleteProduct", "Employee", new { deleteItem = "Pending" })">*@ 
                                            @* <button style="color:red"> Reject </button>  *@
                                    </div></td>
                                </tr>
                            }
    
                        }
                        </tbody>
                        
                </table>            
    </div>
    <br>
    <div class="container">
        <a button asp-controller="Home" asp-action="Index" type="submit">Go back</button></a>    
    </div>

    
</body>